<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>添加商品</title>
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/goods-add.css">
</head>

<body>
  {{ if user }}
  <div id="goods-add">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand logo" href="#">
            <img alt="Brand" src="../public/img/logo/cbms-logo.png" height="80px">
          </a>
        </div>
        <div class="navbar-right user">
          <img class="user-avatar" src="{{ user.avatar }}" alt="">
          <a href="#" class="navbar-link username">{{ user.username }}</a>
        </div>
      </div>
    </nav>

    <section id="content">
      <div class="title">
        <h4>添加商品</h4>
      </div>

      <div class="body">
        <form id="add-form" class="form-horizontal" action="/goods/add" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="user_id" value="{{user._id}}">
          <div class="form-group">
            <label class="col-sm-2 control-label">商品名称</label>
            <div class="col-sm-10">
              <input type="text" name="name" required class="form-control" id="good-name" placeholder="商品名称">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">商品价格</label>
            <div class="col-sm-10">
              <div class="input-group">
                <div class="input-group-addon">￥</div>
                <input type="text" name="price" required class="form-control" id="good-price" placeholder="商品价格">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">商品种类</label>
            <div class="col-sm-10">
              <input type="text" required name="type" class="form-control" id="good-type" placeholder="商品种类">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">商品图片</label>
            <div class="col-sm-10">
              <input type="file" required name="image" class="form-control" id="good-image" accept="image/*">
            </div>
          </div>
          <div class="form-group classification1">
            <label class="col-sm-2 control-label">商品一级分类</label>
            <div class="col-sm-10">
              <select required class="form-control" name="classification1">
                <option></option>
              </select>
            </div>
          </div>
          <div class="form-group classification2">
            <label class="col-sm-2 control-label">商品二级分类</label>
            <div class="col-sm-10">
              <select required class="form-control" name="classification2">
                <option></option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success submit">提交</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>

  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script>
    let classification1 = document.querySelector('.classification1 select')
    let classification2 = document.querySelector('.classification2 select')
    axios.get('/goods/get-classification')
      .then(function (response) {
        let data = response.data
        let classification1HTML = ''
        let classification2HTML = ''
        data.forEach(item => {
          classification1HTML += `<option>${item.classification1}</option>`
        })
        classification1.innerHTML = classification1HTML
        data[0].classification2.forEach(item => {
          classification2HTML += `<option>${item}</option>`
        })
        classification2.innerHTML = classification2HTML

        classification1.onchange = function () {
          data.forEach((item, index) => {
            if (item.classification1 === classification1.value) {
              classification2HTML = ''
              data[index].classification2.forEach(item => {
                classification2HTML += `<option>${item}</option>`
              })
              classification2.innerHTML = classification2HTML
            }
          })
        }
      })
      .catch(function (error) {
        console.log(error);
      });
  </script>

  {{ else }}
  <div id="unLogin">
    <div class="login-tips">
      <h5>未登录提示</h5>
      <div class="content">请先先登录/注册再进行操作</div>
      <div class="button">
        <a class="btn btn-success" href="/login">登录</a>
        <a class="btn btn-danger" href="/register">注册</a>
      </div>
    </div>
  </div>
  {{ /if }}
</body>

</html>