{{ extend '../index.html'}}

{{ block 'home-style' }}
<link rel="stylesheet" href="../public/css/commodity-management.css">
{{ /block }}

{{ block 'main-right'}}
<div id="commodity-management">
    <div class="title">分类列表</div>
    <div class="content">
        <div class="goods-nav">
            <ul class="classification-nav">
                <li class="all-classification">
                    <div onclick="toggleShow('all-classification')">
                        <span class="icon xiangxia"></span>
                        所有分类
                    </div>
                </li>
                <ul id="classification-menu" class="two-menu all-classification-item">
                </ul>
            </ul>
        </div>

        <div class="goods">
            <div>
                <div class="btn-group my-btn">
                    <button type="button" class="btn btn-default">热卖</button>
                    <button type="button" class="btn btn-default">新品</button>
                    <button type="button" class="btn btn-default">特价</button>
                </div>
                <div class="my-input-group">
                    <span>商品名称：</span>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入商品名称" aria-describedby="basic-addon1">
                        <span class="input-group-addon" id="basic-addon1">查询</span>
                    </div>
                </div>
                <div>
                    <a href="/goods/add" type="button" class="btn btn-info">添加商品</a>
                </div>
            </div>

            <div class="table-head">
                <input type="checkbox">
                <span>图片</span>
                <span>商品名称</span>
                <span>种类</span>
                <span>价格</span>
                <span>销量</span>
                <span>操作</span>
            </div>
            <div class="table-body">
                {{ if goods }}
                {{ each goods good index }}
                <div>
                    <input type="checkbox">
                    <div onclick="enlargeImg(this)">
                        <img src="{{ good.good_img }}" alt="">
                    </div>
                    <div>{{ good.good_name }}</div>
                    <div>{{ good.good_type }}</div>
                    <div>￥ {{ good.good_price }}</div>
                    <div>月销：{{ good.sales }}</div>
                    <div class="operation">
                        <div>
                            <i class="iconfont icon-xiugai"></i>
                        </div>
                        <div onclick="removeGood({{ good._id }})">
                            <i class="iconfont icon-shanchu"></i>
                        </div>
                    </div>
                </div>
                {{ /each }}
                {{ else }}
                <div>
                    <h5>暂无商品</h5>
                </div>
                {{ /if }}
            </div>
        </div>
    </div>
</div>
{{ /block }}

{{ block 'script'}}
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    ;
    (function () {
        let classificationMenu = document.querySelector('#classification-menu')

        ajax('/goods/get-classification', 'GET', (data) => {
            classificationMenu.innerHTML = ''
            data.forEach((item, index) => {
                let temporaryHTML1 = `
                    <li class="classify-${index}">
                        <div onclick="toggleShow('classify-${index}')">
                            <span class="icon"></span>
                            ${item.classification1}
                        </div>
                    </li>
                    <ul class="three-menu classify-${index}-item hide">
                `
                let temporaryHTML2 = ''
                item.classification2.forEach(item2 => {
                    temporaryHTML2 += `
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>${item2}</span>
                                </a>
                            </div>
                        </li>
                    `
                })
                classificationMenu.innerHTML += (temporaryHTML1 + temporaryHTML2 + '</ul>')
            });
        })
    })()

    function ajax(url, type = 'GET', fun) {
        let xhr = new XMLHttpRequest()
        xhr.open(type, url, true)
        xhr.send()
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                fun(JSON.parse(xhr.responseText))
            }
        }
    }

    function toggleShow(className) {
        let node = document.querySelector(`.classification-nav .${className}>div>span:nth-child(1)`)
        let allItems = document.querySelector(`.classification-nav .${className}-item`)
        node.classList.toggle('xiangxia')
        allItems.classList.toggle('hide')
    }

    function enlargeImg(node) {
        let src = node.querySelector('img').getAttribute('src')
        let divNode = document.createElement("div")
        let imgNode = document.createElement("img")
        divNode.setAttribute('id', 'zhezhaoceng')
        divNode.setAttribute('onclick', 'removeDaTuPian(this)')
        imgNode.setAttribute('id', 'fadatupian')
        imgNode.setAttribute('src', src)
        imgNode.setAttribute('onclick', 'toStopPropagation()')
        divNode.appendChild(imgNode)
        document.body.appendChild(divNode)
    }

    function toStopPropagation() {
        event.stopPropagation()
    }

    function removeDaTuPian(node) {
        document.body.removeChild(node)
    }

    // 删除商品
    function removeGood(goodID) {
        let isDelete = window.confirm('确认要删除该商品吗？')

        if (isDelete) {
            axios.get('/goods/remove', {
                    params: {
                        id: goodID
                    }
                })
                .then(data => {
                    if (data.data.err_code === 0) {
                        window.alert('删除成功！')
                        window.location.reload()
                    } else {
                        window.alert('删除失败！')
                    }
                })
                .catch(err => {
                    window.alert('删除失败！')
                })
        }
    }
</script>
{{ /block}}