{{ extend '../index.html'}}

{{ block 'home-style' }}
<link rel="stylesheet" href="../public/css/commodity-management.css">
{{ /block }}

{{ block 'main-right'}}
<div id="commodity-management">
    <div class="title">分类列表</div>
    <div class="content">
        <div class="goods-nav">
            <ul class="classification-nav">
                <li class="all-classification">
                    <div onclick="toggleShow('all-classification')">
                        <span class="icon xiangxia"></span>
                        所有分类
                    </div>
                </li>
                <ul class="two-menu all-classification-item">
                    <li class="foods">
                        <div onclick="toggleShow('foods')">
                            <span class="icon"></span>
                            食品干货
                        </div>
                    </li>
                    <ul class="three-menu foods-item hide">
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>零食饮料</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>水果蔬菜</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>饼干速食</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>茶酒香烟</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>药材干货</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>其他食品干货</span>
                                </a>
                            </div>
                        </li>
                    </ul>

                    <li class="digitals">
                        <div onclick="toggleShow('digitals')">
                            <span class="icon"></span>
                            手机数码
                        </div>
                    </li>
                    <ul class="three-menu digitals-item hide">
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>新款手机</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>二手手机</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>平板电脑</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>显示器</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>耳机/数据线</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>照相机</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>其他数码产品</span>
                                </a>
                            </div>
                        </li>
                    </ul>

                    <li class="furnitures">
                        <div onclick="toggleShow('furnitures')">
                            <span class="icon"></span>
                            电器家具
                        </div>
                    </li>
                    <ul class="three-menu furnitures-item hide">
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>电视音响</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>投影仪</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>空调冰箱</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>洗衣机/吹风机</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>桌子椅子</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>床上用品</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>门窗柜子</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>其他电器家电</span>
                                </a>
                            </div>
                        </li>
                    </ul>

                    <li>
                        <span class="icon"></span>
                        图书文具
                    </li>

                    <li class="fashion">
                        <div onclick="toggleShow('fashion')">
                            <span class="icon"></span>
                            时尚潮流
                        </div>
                    </li>
                    <ul class="three-menu fashion-item hide">
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>美妆/彩妆</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>男装男鞋</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>女装女鞋</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>个人护肤</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>内衣袜子</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>皮带手表</span>
                                </a>
                            </div>
                        </li>
                    </ul>

                    <li>
                        <span class="icon"></span>
                        汽车珠宝
                    </li>
                    <li class="animals">
                        <div onclick="toggleShow('animals')">
                            <span class="icon"></span>
                            动物植物
                        </div>
                    </li>
                    <ul class="three-menu animals-item hide">
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>Lovely 猫（猫）</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>Cute 狗（狗）</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>小鸟依人（鸟）</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>花之爱恋（花）</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>前程似锦（花）</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>花样年华（花）</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>生日快乐（花）</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>创意设计（花）</span>
                                </a>
                            </div>
                        </li>
                    </ul>

                    <li class="fictitious">
                        <div onclick="toggleShow('fictitious')">
                            <span class="icon"></span>
                            虚拟产品
                        </div>
                    </li>
                    <ul class="three-menu fictitious-item hide">
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>话费</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>流量</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>电子书</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>游戏充值</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>电影票</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>美工在线</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">
                                    <span class="spot">●</span>
                                    <span>论文写作</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </ul>
            </ul>
        </div>

        <div class="goods">
            <div>
                <div class="btn-group my-btn">
                    <button type="button" class="btn btn-default">热卖</button>
                    <button type="button" class="btn btn-default">新品</button>
                    <button type="button" class="btn btn-default">特价</button>
                </div>
                <div class="my-input-group">
                    <span>商品名称：</span>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入商品名称" aria-describedby="basic-addon1">
                        <span class="input-group-addon" id="basic-addon1">查询</span>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-info">添加商品</button>
                </div>
            </div>

            <div class="table-head">
                <input type="checkbox">
                <span>图片</span>
                <span>商品名称</span>
                <span>种类</span>
                <span>价格</span>
                <span>销量</span>
                <span>操作</span>
            </div>
            <div class="table-body">
                <div>
                    <input type="checkbox">
                    <div onclick="enlargeImg(this)">
                        <img src="../public/img/goods/username/分类名/d37191b00ded610e789acfa400f92d2.jpg" alt="">
                    </div>
                    <div>粉色爱恋</div>
                    <div>粉玫瑰</div>
                    <div>￥ 128</div>
                    <div>月销：1234</div>
                    <div class="operation">
                        <div>
                            <i class="iconfont icon-xiugai"></i>
                        </div>
                        <div>
                            <i class="iconfont icon-shanchu"></i>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="checkbox">
                    <div onclick="enlargeImg(this)">
                        <img src="../public/img/goods/username/分类名/d160d1fb426026304b01c06314ff90a.jpg" alt="">
                    </div>
                    <div>浅蓝之恋</div>
                    <div>白玫瑰</div>
                    <div>￥ 148</div>
                    <div>月销：993</div>
                    <div class="operation">
                        <div>
                            <i class="iconfont icon-xiugai"></i>
                        </div>
                        <div>
                            <i class="iconfont icon-shanchu"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ /block }}

{{ block 'script'}}
<script>
    function toggleShow(className) {
        let node = document.querySelector(`.classification-nav .${className}>div>span:nth-child(1)`)
        let allItems = document.querySelector(`.classification-nav .${className}-item`)
        node.classList.toggle('xiangxia')
        allItems.classList.toggle('hide')
    }

    function enlargeImg(node) {
        let src = node.querySelector('img').getAttribute('src')
        let divNode = document.createElement("div")
        let imgNode = document.createElement("img")
        divNode.setAttribute('id', 'zhezhaoceng')
        divNode.setAttribute('onclick', 'removeDaTuPian(this)')
        imgNode.setAttribute('id', 'fadatupian')
        imgNode.setAttribute('src', src)
        imgNode.setAttribute('onclick', 'toStopPropagation()')
        divNode.appendChild(imgNode)
        document.body.appendChild(divNode)
    }

    function toStopPropagation() {
        event.stopPropagation()
    }

    function removeDaTuPian(node) {
        document.body.removeChild(node)
    }
</script>
{{ /block}}